<h2 class="text-center"><%= @element.name %> </h2>

<div class="container">
  <div class="row">
    <div class="col-md-4">
        <%= image_tag(@element.image) %>
      </div>
    <div class="col-md-8">
      <h3> Description: <%= @element.body %> </h3>
    </div>
  </div>
</div>

<% if @element.user == current_user %>
  <p id="links_color"><%= link_to "Update Item Information", edit_element_path %></p>
<% end %>

<% if @element.user == current_user%>
  <div class="links">
    <p><%= link_to "Delete Item", @element, method: :delete %></p>
  </div>
<% end %>

<div class="links">
  <%= link_to "Select This Item", @exchange, method: :create %>
</div>

<div class="links">
  <p><%= link_to "Back To Items", root_path %></p>
</div>
