<h1 class="text-center"><%= @item.name %> </h1>

<div class="container">
  <div class="row">
    <div class="col-md-4 box1">
      <div class="product">
        <%= image_tag(@item.image) %>
      </div>
    </div>
    <div class="col-md-8">
      <p> Description: <%= @item.body %> </p>
      <p> Location: <%= @item.zip_code %></p>
      <p> Size: <%= @item.size %></p>
    </div>
  </div>
</div>

<div class="container">
  <div class="col-lg-12 ">
    <% @items.each do |item| %>
      <div class="row review">
        <div class="col-lg-3">
          <h4><%= item.name%><h4>
          <% if item.borrower == current_user %>

          <button><%= link_to "Add a review", "/items/#{item.id}/reviews/new", method: :get %></button><br>

            <button><%= link_to "Deselect This Item", "/items/#{item.id}/selected", method: :post, data: { confirm: "Are you sure?" }%></button>
          <% end %>
        </div>
        <% @reviews.each do |review| %>
          <div class="col-lg-6">
            <%if item.id == review.item.id %>
              <h4>Review: <%= review.body %></h4>
          </div>
            <div class="col-lg-3">
              <% if review.user == item.borrower %>
                <button><%= link_to "Update Review", "/items/#{item.id}/reviews/#{review.id}/edit", params:{review: review.id}%></button><br>
              <% end %>
              <% if review.user == item.borrower %>
                <button><%= link_to "Delete", "/items/#{item.id}/reviews/#{review.id}", method: :delete, params:{review: review.id}, data: {confirm: "Are you sure?"} %></button>
              <% end %>
              <% end %>
            </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>




<% if @item.lender == current_user %>
  <div class="links">
    <p id="links_color"><%= link_to "Update Item Information", edit_item_path %></p>
    <p><%= link_to "Delete Item", @item, method: :delete %></p>
  </div>
<% end %>

<% if @item.lender != current_user %>
  <div class="links">
    <%= link_to "Select This Item", "/items/#{@item.id}/selected", method: :post, data: { confirm: "Are you sure?" } %>
    <%= link_to "De-Select This Item", "/items/#{@item.id}/selected", method: :post, data: { confirm: "Are you sure?" } %>
  </div>
<% end %>

<div class="links">
  <p><%= link_to "Back To Items", items_path %></p>
</div>
