<h1 class="text-center"><%= @item.name %> </h1>

<div class="container">
  <div class="row">
    <div class="col-md-4 box1">
      <div class="product">
        <%= image_tag(@item.image) %>
      </div>
    </div>
    <div class="col-md-8">
      <p> Description: <%= @item.body %> </p>
      <p> Location: <%= @item.zip_code %></p>
      <p> Size: <%= @item.size %></p>
      <% if @item.lender != current_user %>
        <div class="link">
          <button><%= link_to "Select This Item", "/items/#{@item.id}/selected", method: :post, data: { confirm: "Are you sure?" } %></button>
        </div>
      <% end %>

      <% if @item.borrower_id.last == current_user.id %>
        <div class="links">
          <button><%= link_to "De-Select This Item", "/items/#{@item.id}/selected", method: :post, data: { confirm: "Are you sure?" } %></button>
        </div>
      <% end %>
    </div>
  </div>
</div>

<% if @item.borrower_id.include?(current_user.id) %>
  <h1 class="text-center"><a href="#myModal" data-toggle="modal">Add a Review</a></h1>
  <div id="myModal" class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h1 class="modal-title text-center">Add a Review</h1>
          </div>
          <div class="modal-body">
            <%= form_for [@item, @review] do |f| %>
          <div class="row">
            <div class="col-lg-6 ">
              <div class="field">
                <%= f.label :body, "Description" %><br>
                <%= f.text_field :body %>
              </div>
            </div>

            <div class="col-lg-6 ">
               <div class="actions">
                 <br>
                 <%= f.submit "Add review"%>
              <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>

<div class="links">
  <h1> Reviews: </h1>
<div class="col-lg-12">
  <% @reviews.each do |review| %>
  <div class="col-lg-12 review">
    <div class="col-lg-2">
      <h4>Reviewer: <%= review.user.first_name %></h4>
      </div>
      <div class="col-lg-8">
        <h4><%= review.body %></h4>
      </div>
      <div class="col-lg-2">
        <% if review.user == current_user %>
            <button><%= link_to "Update Review", "/items/#{@item.id}/reviews/#{review.id}/edit", params:{review: review.id}%></button>
            <button><%= link_to "Delete", "/items/#{@item.id}/reviews/#{review.id}", method: :delete, params:{review: review.id}, data: {confirm: "Are you sure?"} %></button>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>



<% if @item.lender == current_user %>
  <div class="links">
    <p id="links_color"><%= link_to "Update Item Information", edit_item_path %></p>
    <p><%= link_to "Delete Item", @item, method: :delete %></p>
  </div>
<% end %>



<div class="links">
  <p><%= link_to "Back To Items", items_path %></p>
</div>
