<h1 class="text-center"><%= @item.name %> </h1>

<div class="container">
  <div class="row">
    <div class="col-md-4 box1">
      <div class="product">
        <%= image_tag(@item.image) %>
      </div>
    </div>
    <div class="col-md-8">
      <p> Description: <%= @item.body %> </p>
      <p> Location: <%= @item.zip_code %></p>
      <p> Size: <%= @item.size %></p>
    </div>
  </div>
</div>


<% if @item.lender == current_user %>
  <p id="links_color"><%= link_to "Update Item Information", edit_item_path %></p>
<% end %>

<% if @item.lender == current_user%>
  <div class="links">
    <p><%= link_to "Delete Item", @item, method: :delete %></p>
  </div>
<% end %>

<div class="links">
  <%= link_to "Select This Item", "/items/#{@item.id}/selected", method: :post, data: { confirm: "Are you sure?" } %>
</div>


<div class="links">
  <p><%= link_to "Back To Items", items_path %></p>
</div>
