<h1 class= "text-center">Add Gear Form</h1>

  <%= form_for(@bit) do |f| %>
<div class="container">
    <div class="row">
      <div class="col-lg-6 ">
        <div class="field">
          <%= f.label :name, 'Name' %><br>
          <%= f.text_field :name %><br>
          <%= f.label :image, "Image" %><br>
          <%= f.text_field :image %><br>
          <%= f.label :size, "Size" %><br>
          <%= f.text_field :size %><br>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="field">
          <%= f.label :body, "Description" %><br>
          <%= f.text_field :body %>
        </div>
      </div>
    </div>
  </div>

   <div class="actions">
      <%= f.submit "Add Item"%>
   </div>
<% end %>
<p><%= link_to "Back To Items", bits_path %></p>
