<!DOCTYPE html>
<html>
  <head>
    <title>GearX</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap-theme.min.css">
    <link href="https://fonts.googleapis.com/css?family=Abel|Cabin+Sketch" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </head>


  <header class="banner" role="banner" style="width:100%">
    <div class="w3-content w3-section">
      <img class="mySlides" src="http://digital-photography-school.com/wp-content/uploads/flickr/5171453436_2b2604aed5_o.jpg" style="width:100%">
    </div>
  </header>

  <nav>
    <div class="container">
      <div class="row">
      <div class="navbar-text navbar-left">
      <% if user_signed_in? %>
        <button type="button" class="btn btn-default btn-sm btn-block col-lg-3"><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></button>
      </div>
      <div class="navbar-text navbar-left">
        <button type="button" class="btn btn-default btn-sm btn-block col-lg-3"><%= link_to 'Change My User Info', edit_user_registration_path %></button>
      </div>
      <div class="navbar-text navbar-right">
        <button type="button" class="btn btn-default btn-sm btn-block home"><%= link_to "Back To Home", root_path %></button>
      </div>
      <div class="navbar-text navbar-left">
        <%else%>
          <button type="button" class="btn btn-default btn-sm btn-block"><%= link_to 'Sign In', new_user_session_path %></button>
        </div>
        <div class="navbar-text navbar-left">
          <button type="button" class="btn btn-default btn-sm btn-block"><%= link_to 'Sign Up', new_user_registration_path %></button>
        </div>
      <% end %>
    </div>
  </nav>



  <body>
    <% if notice.is_a?(Array) %>
      <% notice.each do |this_notice| %>
      <h4 class="text-center"><%= this_notice %></h4>
      <% end %>
    <%elsif notice %>
    <h4 class="text-center"><%= notice %></h4>
    <% end %>

    <%= alert %>

    <%= yield %>
  </body>
</html>
