<!DOCTYPE html>
<html>
  <head>
    <title>GearX</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap-theme.min.css">
  </head>

  <nav>
    <div class="navbar-text navbar-left">
    <% if user_signed_in? %>
      <%= link_to 'Sign Out', destroy_user_session_path, method: :delete %>
    </div>
    <div class="navbar-text navbar-right">
      <%= link_to 'Change My User Info', edit_user_registration_path %>
    </div>
    <div class="navbar-text navbar-left">
      <%else%>
        <%= link_to 'Sign In', new_user_session_path %>
      </div>
      <div class="navbar-text navbar-right">
        <%= link_to 'Sign Up', new_user_registration_path %>
      </div>
    <% end %>
  </nav>

  <header class="banner" role="banner" style="width:100%">
    <div class="w3-content w3-section">
      <img class="mySlides" src="http://digital-photography-school.com/wp-content/uploads/flickr/5171453436_2b2604aed5_o.jpg" style="width:100%">
    </div>
  </header>

  <body>


    <% if notice.is_a?(Array) %>
      <% notice.each do |this_notice| %>
        <p class="notice"><%= this_notice %></p>
      <% end %>
    <%elsif notice %>
      <p class="notice"> <%= notice %></p>
    <% end %>

    <p class="alert"><%= alert %></p>

    <script>

    var myIndex = 0;
    carousel();

    function carousel() {
        var i;
        var x = document.getElementsByClassName("mySlides");
        for (i = 0; i < x.length; i++) {
           x[i].style.display = "none";
        }
        myIndex++;
        if (myIndex > x.length) {myIndex = 1}
        x[myIndex-1].style.display = "block";
        setTimeout(carousel, 5000);
    }

    </script>

    <%= yield %>
  </body>
</html>
